
// ==========================================================================
// Objects | Typography
// ==========================================================================

.styleguide--styled {
    font-family: $styleguide-font--base;
  
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: $styleguide-font--base;
      margin: 0;
    }
    
    h2 {
      font-size: $styleguide-size--30px;
      line-height: $styleguide-size--36px;
      margin-bottom: 40px;
    }
    
    h3 {
      font-size: $styleguide-size--24px;
      line-height: $styleguide-size--30px;
      margin-bottom: 15px;
    }
    
    p {
      margin: 0;
    }
  }