// ==========================================================================
// SETTINGS | Colors
// Variables concerning miscellaneous: colors...
// ==========================================================================

// ----- pink 
$color--blue-600: #6a8eb3;
$color--blue-800: #121920;

// ----- White
$color--white-400: #E8E8E8;
$color--white-600: #FAFAFA;
$color--white-800: #FFFFFF;

// ----- pink 
$color--pink-600: #f5caea;


// --- implementations
$color-primary: $color--blue-600;

$color-links: $color--pink-600;

$background--main: $color--white-600;