// ==========================================================================
// SETTINGS | Sizes
// Variables concerning sizes: spacing, gutters, widhts, breakpoints...
// ==========================================================================

// ----- Fluid sizing thresholds
$threshold--mobile: 320px;
$threshold--desktop: 1440px;

// ----- Widths
$width--m: 1280px;
$width--m-gutter: 1440px; // This variable contains the default desktop gutter: in this example two times 80px

// ----- Gutters (these variable are used for vertical spacing)
$gutter--m: 40px;

// ----- Spacings (these variable are used for horizontal spacing)
$spacing--m: 40px;

// ----- Breakpoints (EXAMPLES!)
$breakpoint--mobile--m: 480px;
$breakpoint--tablet--m: 768px;
$breakpoint--tablet--l: 1024px;
$breakpoint--desktop--m: 1280px;

// ==========================================================================
// SETTINGS | syleguide | Sizes
// ==========================================================================

$styleguide-breakpoint: 768px;

// ----- Font sizes

$styleguide-size--12px: 0.75rem;
$styleguide-size--14px: 0.875rem;
$styleguide-size--16px: 1rem;
$styleguide-size--18px: 1.125rem;
$styleguide-size--20px: 1.25rem;
$styleguide-size--24px: 1.5rem;
$styleguide-size--30px: 1.875rem;
$styleguide-size--32px: 2rem;
$styleguide-size--36px: 2.25rem;
$styleguide-size--48px: 3rem;
