// ==========================================================================
// SETTINGS | Fonts
// Variables concerning fonts: family, weights, styles, etc...
// ==========================================================================


// ----- Fonts
$styleguide-font--pt-sans: 'PT Sans', sans-serif;
$styleguide-font--pt-mono: 'PT Mono', monospace;

$styleguide-font--base: $styleguide-font--pt-sans;
$styleguide-font--code: $styleguide-font--pt-mono;
