
// ==========================================================================
// OBJECTS | Links
// ==========================================================================

.custom--styled {
    a {
        color: $color-links;
        &:hover,
        &:focus { 
            color: $color--white-600;   
            text-decoration: none;
        }
        &:focus {
            outline: none;
        }
    }
}

      
