

.main--page {
    height: 100%;  
    // remove to not have two scroll on styleguide
    // overflow: scroll;
    background: $background--main;
}

.main__header {
    min-height: 160px;
    background-color: $color-primary;
    text-align: center;
    padding-top: 40px;
    h1 {
        color:  $color--white-800;
    }
}

.main__container {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 40px;
    padding-top: 40px;

    h3 {
        text-align: center;
    }
}

.project-section {
    padding-bottom: 30px;
    margin: 0 40px;

}

.project-section__text {
    padding-bottom: 20px;
}

.project-section__header {
    width: 100%;
    padding:20px;
    background-color:gray;
    color: white;
}
.project-section__content{
    background-color: whitesmoke;
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: height 0ms 400ms, opacity 400ms 0ms;
    &.item-active {
        height: auto;
        opacity: 1;
        transition: height 0ms 0ms, opacity 600ms 0ms;
        padding: 20px; 
    }
}




.counter {
    button {
        background-color: #5f98cd;
        color:white;
        padding: 20px;
        min-width: 150px;
        margin-top: 20px;
        margin-right: 10px;
    }
}
