// ==========================================================================
// Objects | Typography
// ==========================================================================

// ==========================================================================
// OBJECTS | Typography / Inline (WYSIWYG)
// ==========================================================================


.custom--styled {h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding-bottom: $spacing--xs;
    font-family: $font--ubunto;
  }
  
  h1 {
    font-size: $title--l;
    font-family: $font--ubunto;
   }

  h2 { }

  h3 { }

  h4 { }

  h5 { }

  h6 { }

  p,
  blockquote {
    &:not(:last-child) { }
  }
}

.title--m {
  font-size: $title--m;
  font-family: $font--ubunto;
}

.text--m {
  font-size: $text--m;
}