
// ==========================================================================
// SETTINGS | syleguide | Sizes
// ==========================================================================

$styleguide-breakpoint: 768px;

// ----- Font sizes

$styleguide-size--12px: 0.75rem;
$styleguide-size--14px: 0.875rem;
$styleguide-size--16px: 1rem;
$styleguide-size--18px: 1.125rem;
$styleguide-size--20px: 1.25rem;
$styleguide-size--24px: 1.5rem;
$styleguide-size--30px: 1.875rem;
$styleguide-size--32px: 2rem;
$styleguide-size--36px: 2.25rem;
$styleguide-size--48px: 3rem;
