// ==========================================================================
// OBJECTS | Links
// ==========================================================================

.styleguide--styled {
    a {
      .styleguide__content & {
        color: $styleguide-color--red-400;
        text-decoration: underline;
        &:hover,
        &:focus {
          text-decoration: none;
        }
  
        &:focus {
          outline: none;
        }
      }
    }
  }
  