
// ==========================================================================
// OBJECTS | Figures
// ==========================================================================

.styleguide--styled {
    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  
    svg {
      display: block;
    }
  }
  
  