
// ==========================================================================
// OBJECTS | Links
// ==========================================================================


    a {
        color: $color-links;
        text-decoration: none;
        &:hover,
        &:focus { 
            color: $color--white-600;   
            text-decoration: none;
        }
        &:focus {
            outline: none;
        }
    }

      
