// ==========================================================================
// GLOBAL | Links
// ==========================================================================


a {
  text-decoration: none;
  line-height: 1.5;
  display: inline-block;
  transition: color 0.3s ;

  &:hover,
  &:focus {    
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }
}
